@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Inter", sans-serif;
}

.navbar {
  background-color: #3a405a;
}

#landing {
  background-color: #aec5eb;
}

/* Sizing */
.h-screen {
  height: 100vh;
}

.h-90vh {
  height: 90vh;
}

.w-screen {
  width: 100vw;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.w-250px {
  width: 250px;
}

.h-250px {
  height: 250px;
}

/* Positioning */

.relative {
  position: relative;
}

/* Font Sizing */

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
