@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Inter", sans-serif;
}

.navbar {
  background-color: #3a405a;
}

#landing {
  background-color: #aec5eb;
}

#profile {
  border-radius: 50%;
}

.profile-p {
  font-size: 1.25rem;
}

h2 {
  font-weight: bold;
}

footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  flex: 1;
}

.footer-right {
  flex: 1;
  text-align: right;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  display: inline-block;
  margin-right: 10px;
}

.footer-links li a {
  color: #333;
  text-decoration: none;
}

.footer-links li a:hover {
  text-decoration: underline;
}
